.content {
    .image-header {
        background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../img/contacts-header-pic.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow-x: hidden;
        width: 100%;
        height: 40vh;
    }
    
    h1 {
        text-align: center;
        padding: 3rem 3rem 1rem 3rem;
        font-size: 16px;
        letter-spacing: 1px;
        color: #527C7E;
    }

    .header {
        font-family: 'Vidaloka', serif;
        font-size: 36px;
    }

    p {
        text-align: center;
        font-weight: 300;
        color: #2b2a2a;
        padding-bottom: 2.5rem;
        font-size: 38px;
    }

    .description {
        font-family: 'Vidaloka',serif;
        text-align: center;
        letter-spacing: 1px;
        margin: auto;
        width: 60%;
        color: #4d4d4d;
        font-weight: 300;
        font-size: 18px;
        padding-bottom: 6rem;
    }

    span {
        font-family: 'Courgette', cursive;
        color: #527C7E;
        font-style: italic;
    }

    .location {
        width: 50%;
        margin: 0 auto;

        img {
            width: 90%;
            margin: 0 auto;
            padding-bottom: 4rem;
        }
    }

    .contacts-box {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        align-items: baseline;

        .contacts {
            h2 {
                font-size: 22px;
            }

            p {
                text-align: initial;
                padding-top: 12px;
                font-size: 36px;
                font-weight: 300;
                color: #527C7E;
            }
        }

        .form {
            form {
                width: 300px;
                position: relative;

                p {
                    padding: 0;
                    margin: 0;
                    text-align: left;
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    padding-top: 8px;
                    padding-bottom: 8px;
                }

                input[type="text"], input[type="email"], textarea {
                    padding: 10px 8px;
                    margin-bottom: 10px;
                    outline: none;
                    border: none;
                    border-bottom: 2px solid #527C7E;
                    width: 100%;
                }

                h2 {
                    font-family: 'Josefin Sans', sans-serif;
                    color: #527C7E;
                    font-size: 22px;
                    text-transform: uppercase;
                    padding-bottom: 10px;
                }

                input[type="submit"] {
                    border: none;
                    margin-bottom: 2rem;
                    background: #527C7E;
                    color: white;
                    padding: 15px 20px;
                    text-align: center;
                    font-family: 'Josefin Sans', sans-serif;
                    text-transform: uppercase;
                    border-radius: 3px;
                    margin-left: 7rem;
                }
            }
        }
    }
}