.logo {
    padding: 15px;
    background: #527C7E;
    height: 84px;
}

header a {
    text-decoration: none;
}

.logo p:nth-of-type(1) {
    font-family: 'Courgette', cursive;
    font-size: 24px;
    color: white;
    letter-spacing: 10px;
    text-align: center;
}

.logo .gold {
    color: #DAA520;
    padding-top: 8px;
    text-align: center;
    letter-spacing: 8px;
}

nav {
    display: inline-block;
    width: 100%;
}

nav ul li {
    display: inline-block;
    text-align:center; 
    list-style-type: none;
    padding-top: 35px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding-left: 50px;
    text-align: center;
    font-size: 20px;
}

.logo:hover p {
    color: #DAA520;
}

nav a:hover {
    color: #527C7E;
}

#toggle {
    padding: 25px;
    width: 100%;
    background: #527C7E;
    text-align: right;
    color: white;
    font-size: 30px;
    display: none;
    height: inherit;
    box-sizing: border-box;
    float: right;
}

label {
    background: #527C7E;
    text-align: right;
    color: white;
    line-height: 70px;
    display: none;
    font-size: 36px;
    width: 100%;
    float: right;
    padding: 7px;
    padding-right: 20px;
}

@media all and (max-width: 768px) {
    label {
        display: block;
        cursor: pointer;
    }

    .logo {
        z-index: 2;
        position: absolute;
    }

    nav {
        position: relative;
        z-index: 1;
    }

    ul {
        text-align: center;
        width: 100%;
        display: none;
        position: relative;

        li {
            a {
                display: block;
                border-bottom: 1px solid #527C7E;
                margin: 0;
            }
        }
    }

    #toggle:checked + ul {
        display: block;

        li {
            display: block;
            width: 100%;
        }
    }
}