@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
@import 'variables.scss';
@import 'mixins.scss';

@media screen and (max-width: 1024px){
    html{
        font-size: 1.4*$font-size;
        line-height: $line-height
    }

    label {
        display: block;
        cursor: pointer;
    }

    label, #toggle {
        position: absolute;
        z-index: 3;
    }

    .logo {
        z-index: 2;
        position: absolute;
    }

    nav {
        position: relative;
        z-index: 1;
    }

    ul {
        text-align: center;
        width: 100%;
        display: none;
        position: relative;

        li:first-of-type {
            
            a {
                border-top: 2px solid rgb(56, 79, 80);
                margin-top: 3.5rem;
                padding-top: 1.8rem;
            }
        }

        a {
            color: white;
        }

        li {
            background: #527C7E;
            color: white;
            border-bottom: 2px solid rgb(56, 79, 80);

            a {
                color: white;
                display: block;
                padding-bottom: 1.8rem;
            }
        }
    }

    nav a:hover {
        color: rgb(56, 79, 80) !important;
    }

    #toggle:checked + ul {
        @include delay;
        display: block;

        li {
            display: block;
            width: 100%;

            &:nth-child(1) a {
                animation-delay: 0.10s;
            }

            &:nth-child(2) a {
                animation-delay: 0.20s;
            }

            &:nth-child(3) a {
                animation-delay: 0.30s;
            }

            &:nth-child(4) a {
                animation-delay: 0.40s;
            }

            &:nth-child(5) a {
                animation-delay: 0.50s;
            }

            a {
                animation: slideIn 0.3s ease 1 both;
                text-align: center;
                padding-left: 0;
                color: white;
            }
        }
    }

    .heading-part-villa-2, .heading-part-villa-1, .image-container {
        padding-top: 3rem;
    }

    .description {
        width: 80% !important;
    }
}

@media screen and (max-width: 960px) {
    .image-container {
        .description, .heading {
            padding-left: 4rem;
            width: 90%;
            line-height: 1.4;
            padding-bottom: 1rem;
        }
    }

    .header {
        h1 {
            font-size: 28px !important;
        }

        h3 {
            font-size: 16px !important;
        }
    }

    .image-section-heading {
        font-size: 28px !important;
    }

    .heading-part-villa-1, .heading-part-villa-2 {
        .coordinates, .info {
            p {
                font-size: 16px !important;
            }
        }

        .villa {
            font-size: 40px !important;
        }
    }

    .content {
        h1 {
            font-size: 12px;
        }

        .header {
            font-size: 28px;
        }

        .description{
            font-size: 16px;
        } 

        .facilities {
            .facilities-heading {
                font-size: 28px;
            }

            .intro {
                font-size: 16px;
            }

            .sport-facilities {
                display: grid;
                padding: 2rem;
                gap: 2rem;
                grid-template-columns: repeat(1, 1fr) !important;
                
                .img {
                    width: 600px;
                    height: 350px;
                }
            }
        }
    }

    .contacts-box {
        flex-wrap: wrap;

        .contacts, .form {
            margin: 0 auto;

            h2 {
                font-size: 18px !important;
            }

            p {
                font-size: 26px !important;
            }
        }

        .form {
            p {
                font-size: 16px !important;
            }
        }
    }

    #gergevets {
            section {
                article {
                    p {
                        font-size: 16px !important;
                        line-height: 1.6;
                    }
                }
            }
        }
}

@media screen and (max-width: 768px) {
    .image-container {
        .description, .heading {
            font-size: 16px !important;
            padding-left: 2rem;
            width: 100%;
            padding-bottom: 0.8rem !important;
        }
    }
    
    #gergevets {
        section {
            display: flex;
            flex-direction: column !important;

            article {
                width: 70%;
                
                &:nth-of-type(1) {
                    margin-bottom: 2rem;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    .sport-facilities {
      
      .text-over-image {
        .img {
            position: relative;
            background-size: 100%;
            transition: 0.5s;
            width: 350px !important;
            height: 220px !important;
            background-size: 100%;
            border-radius: 1rem;
            }
        }
    }

    .relaxation-facilities {
        display: grid;
        padding: 2rem;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 2rem;

        .img {
            position: relative;
            background-size: 100%;
            transition: 0.5s;
            width: 300px;
            height: 400px;
            background-size: 100%;
            border-radius: 1rem;
        }
    }
    
}

@media screen and (max-width: 640px) {

    .description {
        .italics {
            letter-spacing: 3px;
        }
    }

    .header {
        font-size: 20px !important;

        p {
            font-size: 20px !important;
            width: 100%;
        }
    }
    .facilities {
         .facilities-heading {
            font-size: 20px !important;
            width: 100%;
        }
    }
   
    

    #gergevets {
        .coordinates, .info {
            p {
                margin-left: 2rem;
            }
        }

        .villa {
            padding-left: 2rem;
            padding-top: 2rem;
            padding-bottom: 0;
        }
    }

    .content .location {
        width: 65%;
        align-self: center;

        img {
            margin-left: 2rem;
            align-self: center;
        }
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 14px !important;
    }

    .image-container {
        .description, .heading {
            font-size: 14px !important;
            padding-left: 1.5rem;
            width: 100%;
        }

        .description {
            padding-bottom: 0.5rem !important;
        }
    }

    .sport-facilities {
        .text-over-image {
          .img {
              padding: 0.5rem !important;
              width: 270px !important;
              height: 200px !important;
              }
          }
      }

      .relaxation-facilities {
        gap: 2rem;

        .img {
            width: 260px !important;
            height: 360px !important;
        }
    }
  
}