@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
@import 'variables.scss';
@import 'mixins.scss';

@media screen and (max-width: 1024px){
    html{
        font-size: 1.4*$font-size;
        line-height: $line-height
    }

    label {
        display: block;
        cursor: pointer;
    }

    label, #toggle {
        position: absolute;
        z-index: 3;
    }

    .logo {
        z-index: 2;
        position: absolute;
    }

    nav {
        position: relative;
        z-index: 1;
    }

    ul {
        text-align: center;
        width: 100%;
        display: none;
        position: relative;

        li:first-of-type a {
            margin-top: 3.5rem;
            border-top: 2px solid rgb(56, 79, 80);
            padding-top: 1.8rem;
        }

        a {
            color: white;
        }

        li {
            background: #527C7E;
            color: white;

            a {
                color: white;
                display: block;
                border-bottom: 2px solid rgb(56, 79, 80);
                padding-bottom: 1.8rem;
            }
        }
    }

    nav a:hover {
        color: white;
    }

    #toggle:checked + ul {
        display: block;

        li {
            display: block;
            width: 100%;
        }
    }
}