@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
@import 'variables.scss';
@import 'mixins.scss';

@media screen and (max-width: 1024px){
    html{
        font-size: 1.4*$font-size;
        line-height: $line-height
    }

    label {
        display: block;
        cursor: pointer;
    }

    .logo {
        z-index: 2;
        position: absolute;
    }

    nav {
        position: relative;
        z-index: 1;
    }

    ul {
        text-align: center;
        width: 100%;
        display: none;
        position: relative;

        li {
            a {
                display: block;
                border-bottom: 1px solid #527C7E;
                margin: 0;
            }
        }
    }

    #toggle:checked + ul {
        display: block;

        li {
            display: block;
            width: 100%;
        }
    }

    .sport-facilities {
        display: grid;
        padding: 2rem;
        grid-template-columns: repeat(1, 1fr);
      }
}