@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
@import 'variables.scss';
@import 'mixins.scss';

@media screen and (max-width: 1024px){
    html{
        font-size: 1.4*$font-size;
        line-height: $line-height
    }

    label {
        display: block;
        cursor: pointer;
    }

    label, #toggle {
        position: absolute;
        z-index: 3;
    }

    .logo {
        z-index: 2;
        position: absolute;
    }

    nav {
        position: relative;
        z-index: 1;
    }

    ul {
        text-align: center;
        width: 100%;
        display: none;
        position: relative;

        li:first-of-type a {
            margin-top: 3.5rem;
            border-top: 2px solid rgb(56, 79, 80);
            padding-top: 1.8rem;
        }

        a {
            color: white;
        }

        li {
            background: #527C7E;
            color: white;

            a {
                color: white;
                display: block;
                border-bottom: 2px solid rgb(56, 79, 80);
                padding-bottom: 1.8rem;
            }
        }
    }

    nav a:hover {
        color: white;
    }

    #toggle:checked + ul {
        display: block;

        li {
            display: block;
            width: 100%;
        }
    }

    .heading-part-villa-2, .heading-part-villa-1, .image-container {
        padding-top: 3rem;
    }

    .description {
        width: 80% !important;
    }

    #image1, #image2, #image3, #image4 {

        p {
            font-size: 18px !important;
            line-height: 1.4;
        }
    }
}

@media screen and (max-width: 960px) {
    .image-container {
        .description, .heading {
            padding-left: 4rem;
            width: 90%;
            line-height: 1.4;
            padding-bottom: 1rem;
        }
    }

    .header {
        h1 {
            font-size: 28px !important;
        }

        h3 {
            font-size: 16px !important;
        }
    }

    .image-section-heading {
        font-size: 28px !important;
    }

    .heading-part-villa-1, .heading-part-villa-2 {
        .coordinates, .info {
            p {
                font-size: 16px !important;
            }
        }

        .villa {
            font-size: 40px !important;
        }
    }

    .content {
        h1 {
            font-size: 12px;
        }

        .header {
            font-size: 28px;
        }

        .description{
            font-size: 16px;
        } 

        .facilities {
            .facilities-heading {
                font-size: 28px !important;
            }

            .intro {
                font-size: 16px;
            }

            .sport-facilities {
                display: grid;
                padding: 2rem;
                gap: 2rem;
                grid-template-columns: repeat(1, 1fr) !important;
                
                .img {
                    width: 600px;
                    height: 350px;
                }
            }

            
        }
    }

    .contacts-box {
        flex-wrap: wrap;

        .contacts, .form {
            margin: 0 auto;

            h2 {
                font-size: 18px !important;
            }

            p {
                font-size: 26px !important;
            }
        }

        .form {
            p {
                font-size: 16px !important;
            }
        }

    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}