<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/responsive.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#"><div class="logo">
            <p>DIMITAR</p>
            <p class="gold">*RESIDENCE*</p>
            
        </div></a>
        
        <div class="toggle"><i class="fas fa-bars"></i></div>
        
        <div class="nav">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="./html/vila-samuilovo.html">Villa Samuilovo</a>
                </li>
                <li>
                    <a href="./html/vila-gergevets.html">Villa Gergevets</a>
                </li>
                <li>
                    <a href="./html/activities.html">Activities</a>
                </li>
                <li>
                    <a href="./html/contacts.html">Contacts</a>
                </li> 
            </ul>
        </div>
    </header>

    <div class="content">
        {{content}}
    </div>

    <footer>
        <div class="logo-footer">
            <p>DIMITAR</p>
            <p class="gold">*RESIDENCE*</p>
        </div>

        <p class="copyright">&#169; DIMITAR *RESIDENCE* - Krushare, Sliven(BG) <span class="bold">Tel. +359 897892391</span> <span class="bold">mitaka.kolev@gmail.com</span> </p>
        <p>Castello della Pia S.r.l. – viale A. Volta 101 – 50139 Firenze- Iscr. Camera di Commercio di Firenze – P.IVA/CF 05257880483 – N. REA 533002 – Cap. Soc. Euro 100.000,00</p>

        <div class="icons">
            <a href="https://www.facebook.com/IamDimitarKolev7"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/kolev7/?hl=bg"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/iamdimitarkolev7"><i class="fab fa-github"></i></a>
        </div>
    </footer>
</body>
</html>